/* Global */
body { 
    font-family:'Oswald', sans-serif; 
    margin: 0;
    padding-left: 40px; 
  }

  /* Splash */ 

  h3 { 
    font-size: small;
    font-family: 'Roboto', sans-serif;
  }
  
  h1  {
    font-size: 40px;
    font-family:'Oswald', ;
  }
  
  